body{

    background-color: rgb(0, 0, 0);
    color: white;
}

.header{
    margin-top: 20px;
}
.navbar{
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

}
.navbar a{
    color: white;
    text-decoration: none;
}
a:hover{
    color: goldenrod;
}
.text{
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80px;
}
.midbar{
    padding: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    overflow-x: scroll;
    white-space: nowrap;
    scrollbar-width: none;
    
}
.midbar img{
    height: 200px;
    width: 400px;
    object-fit: cover;
}
.midbar img:hover{
    opacity: 0.5;
}
.gallery {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
    padding: 20px 10px;
}
.gallery img {
    width: 100%;
    border-radius: 10px;
    transition: transform 0.3s, box-shadow 0.3s;
}
.gallery img:hover {
    transform: scale(1.05);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    background-color: black;
}